
<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <a class="navbar-brand" href="#">BlazorServer App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Temperature
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="emailhistory" Match="NavLinkMatch.All">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Email History
                </NavLink>
            </li>

            <li class="nav-item">
                @*Hybrid: switch to WASM*@
                <NavLink class="nav-link" href="employeelist">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Employee List
                </NavLink>
            </li>
            <li class="nav-item">
                @*Admin Page for email history*@
                <NavLink class="nav-link" href="counter">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
                </NavLink>
            </li>
            <li class="nav-item">
                @*login, signup, External login, 2FA,*@
                <NavLink class="nav-link" href="counter">
                    <i class="glyphicon glyphicon-user"></i> Authorization
                    @*<span class="fa fa-user" aria-hidden="true"></span>*@
                </NavLink>
            </li>
        </ul>
    </div>


</nav>
   
